.sf-main{
    background-image: url(../../assets/image/special-forces-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.love-struck-ban{
    background-color: rgb(0, 0, 0,0.2);
}
.love-struck-ban-form{
    background-color: rgb(0, 0, 0,0.7);
}
.log-in-btn{
        color: #fff;
        background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
       
}
.log-in-btn:hover{
    border: 1px solid #FDB931;
    color: #D1B464;
    background: none;
    transition: all 0.1s;
}